body {
  text-align: center;
  padding: 20px 0px;
  background-color: rgba(238, 74, 107, 0.221);
  
}



  
  
  #game-container {
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    background-size:cover;
    padding-right: 20px;
    position: relative;
    background-image: url(../images/Screensaver.jpg);
    animation: slide 5s linear infinite;
    border-radius: 3%;
    margin-top: 200px;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 0px;
    }
    95% {
      background-position: 1300px 0;
    }
    100% {
      background-position: 600px 50;
    }
  }

  #game-end {
    display: none;
  }

  #scoresection {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 600px;
    margin-bottom: 60px;
  }

  #scoresection p{
    margin-bottom: 4px;
    font-family: fantasy;
    font-size: larger;
    font-weight: bolder;
  }
  
  #computer img{
  height: 40em;
  width: 45em;
  margin-top: -6px;
  }

  .ninjaprogr { 
    width: 300px;
    height: 300px;
    align-content: center;
    display: block;
    justify-content: center;
    
  }


  /* This is the Game Intro CSS */

  #game-intro {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    
  }

  .logo-img {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 800px;
    margin-right: 180px;
    margin-left: 175px;
    margin-bottom: 5%;
    margin-top: 10%;
    justify-content: center;

  }

  #game-intro .header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #41e6ac85;
    margin-left: 400px;
    margin-right: 400px;
    border: 5px solid black;
    border-radius: 20px;
    font-family: 'Vina Sans', sans-serif;
    font-size: 20px;

    
   
  }

  #game-intro .description {
    display: flex;
    font-size: 30px;
    text-align: center;
    flex-direction: column;
    margin-top: 5%; 
    font-family: 'Vina Sans', sans-serif;
    background-color: #41e6ac85;
    border: 5px solid black;
    border-radius: 20px;
    background-image: url(../images/Screensaver.jpg);
    
    
  }

  #game-intro ul {
    list-style-type: none;
    padding-right: 4%;
    
  }

  #game-intro ul img {
    width: 130px;
    height: 130px;
    margin: 10px;
  }

  #game-intro #JS {
    width: 195px;
    height: 120px;
  }

  #game-intro #HTMLPNG {
    width: 120px;
    height: 115px;
  }

  #game-intro #Jasmine {
    width: 180px;
    height: 160px;
    display: flex;
    text-align: center;
    margin-left: 500px;
  }


  #game-intro .arrows-images {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 280px;
    padding-left: 38%;
    margin-bottom: 5%;
    
  }

  #game-intro h2 {
    background-color: #41e6ac85;
    border: 3px solid black;
    border-radius: 20px;
    font-family: 'Vina Sans', sans-serif;
    font-size: 55px;
    margin-left: 300px;
    margin-right: 300px;
  }

  #game-intro .ninjaprogr {
    display: none
  }

  #start-button {
    /*font-size: 30px;
    background-color: #ed211a; 
    color: #fff;
    padding: 20px 40px;
    border: solid, black;
    box-shadow: 0;
    border-radius: 15px; */
    margin-bottom: 20px;
    margin-left: 420px;
    margin-right: 430px;
    transition: transform 0.7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    
  }

  #start-button img {
    width: 300px;
    height: 300px;
  }
  
  button:hover {
    cursor: pointer;
  }



  
    /* Game-end Last Screen CSS */

    #game-end {
      display: none;
    }

    #game-end {
      
      display: none;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    }

    #game-end h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #41e6ac;
    margin-left: 300px;
    margin-right: 300px;
    border: 5px solid black;
    border-radius: 20px;
    font-family: 'Vina Sans', sans-serif;
    font-size: 50px;
    }

    #game-end #restart-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 960px;
    margin-right: 300px;
    border-radius: 20px;
    font-family: 'Vina Sans', sans-serif;
    font-size: 50px;
    cursor: pointer;
    background-color: #ed211a; 
    color: #fff;
    border: solid, black;
    }



    