body {
    padding: 0;
    text-align: center;
  }
  
  #game-intro {
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
  }
  
  #game-container {
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    background-size:cover;
    padding-right: 20px;
    position: relative;
    background-image: url(../images/Screensaver.jpg);
    animation: slide 5s linear infinite;
    border-radius: 3%;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 0px;
    }
    95% {
      background-position: 500px 0;
    }
    100% {
      background-position: 600px 50;
    }
  }

  #game-end {
    display: none;
  }

  #scoresection {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #computer img{
  height: 40em;
  width: 45em;
  margin-top: -6px;
  }