body {
  padding: 0;
  padding: 20px 0px;
}



  
  
  #game-container {
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    background-size:cover;
    padding-right: 20px;
    position: relative;
    background-image: url(../images/Screensaver.jpg);
    animation: slide 5s linear infinite;
    border-radius: 3%;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 0px;
    }
    95% {
      background-position: 500px 0;
    }
    100% {
      background-position: 600px 50;
    }
  }

  #game-end {
    display: none;
  }

  #scoresection {
    display:flex;
    flex-direction: column;
    text-align: left;
    padding-right: 600px;
    margin-bottom: 60px;
  }

  #scoresection p{
    margin-bottom: 2px;
    font-family:fantasy;
    font-size: larger;
    font-weight: bolder;
  }
  
  #computer img{
  height: 40em;
  width: 45em;
  margin-top: -6px;
  }

  .ninjaprogr { 
    width: 300px;
    height: 300px;
    align-content: center;
    display: block;
    justify-content: center;
  }


  /* This is the Game Intro CSS */

  #game-intro {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    
  }

  #game-intro .logo-img {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    padding-left: 600px;
    margin-bottom: 5%;
    

  }

  #game-intro .header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
   
  }



  #game-intro .description {
    display: flex;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    margin-top: 5%; 
  }

  #game-intro ul {
    list-style-type: none;
    padding-right: 4%;
  }

  #game-intro h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 60px;
  }


  #game-intro .arrows-images {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 280px;
    padding-left: 41%;
    margin-bottom: 5%;
  }

  #game-intro .background {
    padding-left: 11%;
    height: 50em;
    width: 55em;
    margin-bottom: -900px;
    
    }

    